{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home_page/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home_page/body.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home_page/roomTable.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home_page/previewTable.css' %}">

<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <img src="{% static 'home_page/logo.png' %}" alt="Logo"></img>
        </div>
        <div class="title_container">
            <h1>Easy<span>Book</span></h1>
        </div>

        <ul class="navigation">
            <a><li>Services</li></a>
            <a><li>Book Now</li></a>
            <a><li>Contact</li></a>
            <a><li>Log in</li></a>
        </ul>
    </div>
</div>