.horizontal-preview-table {
    width: 100%;
    height: 200px;
    white-space: nowrap;
    overflow-x: scroll;

}

.preivew-cell-outer {
    width: 200px;
    height: 150px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    margin-left: 0px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.preview-cell-image { 
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}